#navbar
{
    display:flex;
    gap:30px;
}
#search_input
{
    height:50px;
    width:50%;
    border-radius: 20px;
}
#results{
    width:60%;
    border:1px solid red;
}
.news{
    border:1px solid blue;
}
#detailed_news{
    width:50%;
    margin:auto;
    border:1px solid green;
}
#flexcontainer
{
    display:flex;
}
#sidebar{
    width:20%;
    
}